extends layout
block head
  script(src="../public/stylesheets/style.css")
  script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
block content
  h1= title
  body
    div
      ul#msgs
    div#inputDivOut
      input#msg(type="text", placeholder="Enter text", onautocomplete="off")
      button#btn(type=button, name='send', onclick="submitMsg()")
  script(src="/socket.io/socket.io.js")

  script.
    var socket = io.connect();
      $(document).ready(function () {
          socket.on('PostMessage', function (data) {
              console.log("msg is: " + data);
              var ul = document.getElementById('msgs');
              var li= document.createElement("li");
              li.appendChild(document.createTextNode(data));
              ul.appendChild(li);
          });
      });
    function submitMsg() {
        var msg=document.getElementById('msg').value;
        console.log("submit" + msg);
        socket.emit('sendMsg',msg);
    }


