extends layout
block head
  script(src="stylesheets/style.css")
  script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
  script(src="/socket.io/socket.io.js")
block content
  div
    h1= title

  body

    p(style='white-space:pre;')
      | Open 2 tabs on 'localhost:3000'
      | send messages to each other by entering a string and pressing enter
      |
      | injecting '<script>...</script>' isn't blocked, but script doesn't run, although recognized as script-tag
      |
      | injecting examples (complete the tags):
      | 1. button onclick='alert(1)'
      | 2. b onmouseover='alert(1)'

    #content
      ul#msgs

    div#inputDivOut
      input#msg(class="inputDiv", type="text", placeholder="Enter text", onautocomplete="off")
      button#btn(class="inputDiv", type=button, name='send', onclick="submitMsg()") Send

  script(src="/javascripts/index.js")

