doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
    link(rel='stylesheets', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    ul
      a(href='/')
        li Chat / Persistent
      a(href='/search')
        li Search / Reflected
      a(href='/dashboard')
        li Dashboard / DOM Based

    block head

  body
    block content
