extends layout
block head
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
    script(src="/socket.io/socket.io.js")
block content
    div
        h1= title

    body
        div
            form(name="search", action="/submit", method="get")
                div.input
                    //span.label Title
                    input#searchStr(type="text", name="searchBox")
                div.actions
                    input(type="submit", value="search")

            h3= "You searched for:"
            h4#lbl
    script(src="/javascripts/searchEngine.js")

